* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #e5e5e5;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

header {
  padding: 2.5em 4.375em;
  background-color: white;
  display: flex;
}

.dados {
  margin-top: 3.75em;
}

img.foto {
  width: 18em;
  height: 18em;
  border-radius: 50%;
  border: 0.25em solid #ffc700;
  margin-bottom: -6em;
  margin-right: 1.5em;
}

.pessoa,
h2 {
  margin: 0;
  font-family: "Playfair Display", serif;
}

.pessoa {
  font-size: 4em;
  margin-bottom: 1rem;
}

.pessoa h1 {
  display: inline;
  font-size: 1em;
  font-weight: bold;
}

.profissao {
  font-size: 1.5em;
}

.t60 {
  color: rgba(0, 0, 0, 0.6);
}

main {
  padding: 2.5em 4.375em 1.5em;
  display: flex;
}

.coluna-menor {
  padding-top: 3em;
  width: 18em;
  flex: 0 0 auto;
  margin-right: 1.5em;
}

.coluna-menor > * + * {
  margin-top: 2.5em;
}

.coluna-menor h2 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.coluna-menor .linha {
  width: 5em;
  border-top: 2px solid black;
}

.experiencias .linha {
  border-color: #4200ff;
}

.formacao .linha {
  border-color: #ffc700;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.coluna-menor li {
  margin-top: 2em;
  display: flex;
}

.coluna-menor h3 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.375;
  margin: 0;
  margin-bottom: 0.3rem;
}

.coluna-menor .imagem {
  border: 0;
  border-radius: 0.25em;
  background-color: #c4c4c4;
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
  margin-top: 0.3em;
  flex: 0 0 auto;
}

.coluna-maior h2 {
  font-size: 2.25em;
  margin-bottom: 1.5rem;
}

.coluna-maior > * + * {
  margin-top: 2.5rem;
}

.habilidades > ul {
  display: flex;
  margin: -0.75rem;
  flex-wrap: wrap;
}

.habilidade {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 18rem;
  margin: 0.75rem;
}

.habilidade h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.habilidade li + li {
  margin-top: 2rem;
}

.habilidade .progresso {
  display: flex;
  margin-top: 0.5rem;
  border-radius: 0.125rem;
}

.habilidade .progresso .barra {
  height: 0.25rem;
  background-color: #4200ff;
  width: 20%;
}

.habilidade .progresso .barra.incompleto {
  opacity: 0.2;
}

.projetos ul {
  display: flex;
  flex-wrap: wrap;
  margin: -0.75rem;
}

.projetos li {
  background-color: white;
  border-radius: 0.5rem;
  width: 24rem;
  padding: 1.5rem;
  margin: 0.75rem;
}

.projetos h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.projetos p {
  margin: 1rem 0 1.5rem;
}

.projetos a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 1.5rem;
  background-color: #4200ff;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  line-height: 1.375;
  font-weight: 600;
  border: 0;
}

footer {
  background-color: #14004d;
  color: white;
  padding: 3.6rem;
  text-align: center;
}
